<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Map Service (WMS) - Client</name>
    <version>
      <name>1.3.0</name>
      <suite>
        <namespace-uri>urn:wms_client_test_suite/main</namespace-uri>
        <prefix>main</prefix>
        <local-name>ets-wms-client</local-name>
        <title>WMS Client Test Suite</title>
        <description>Validates WMS 1.3 service requests.</description>
      </suite>
      <revision>
        <name>r5</name>
        <status>Beta</status>
        <sources>
          <source>wms-client/1.3.0/ctl</source>
        </sources>
        <resources>wms-client/1.3.0/resources</resources>
        <webdir>wms-client/1.3.0/web</webdir>
        <profile>
          <namespace-uri>urn:wms_client_test_suite/main</namespace-uri>
          <prefix>main</prefix>
          <local-name>client-coverage</local-name>
          <title>Coverage reporting</title>
        </profile>
      </revision>
    </version>
  </standard>
</organization>
